html,
body {
  width: 100%;
  height: 100%; }

body {
  font-family: 'Muli', 'Helvetica', 'Arial', 'sans-serif'; }

a {
  color: #fdcc52;
  -webkit-transition: all .35s;
  -moz-transition: all .35s;
  -o-transition: all .35s;
  transition: all .35s; }
  a:hover, a:focus {
    color: #fcbd20; }

hr {
  max-width: 100px;
  margin: 25px auto 0;
  border-width: 1px;
  border-color: rgba(34, 34, 34, 0.1); }

hr.light {
  border-color: white; }

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: 'Catamaran', 'Helvetica', 'Arial', 'sans-serif';
  font-weight: 200;
  letter-spacing: 1px; }

p {
  font-size: 18px;
  line-height: 1.5;
  margin-bottom: 20px; }

section {
  padding: 0; }

#mainNav {
  border-color: rgba(34, 34, 34, 0.05);
  background-color: white;
  -webkit-transition: all .35s;
  -moz-transition: all .35s;
  -o-transition: all .35s;
  transition: all .35s;
  font-family: 'Catamaran', 'Helvetica', 'Arial', 'sans-serif';
  font-weight: 200;
  letter-spacing: 1px; }
  #mainNav .navbar-brand {
    color: #fdcc52;
    font-family: 'Catamaran', 'Helvetica', 'Arial', 'sans-serif';
    font-weight: 200;
    letter-spacing: 1px; }
    #mainNav .navbar-brand:hover, #mainNav .navbar-brand:focus {
      color: #fcbd20; }
  #mainNav .navbar-toggler {
    font-size: 12px;
    padding: 8px 10px;
    color: #222222; }
  #mainNav .navbar-nav > li > a {
    font-size: 11px;
    font-family: 'Lato', 'Helvetica', 'Arial', 'sans-serif';
    letter-spacing: 2px;
    text-transform: uppercase; }
    #mainNav .navbar-nav > li > a.active {
      color: #fdcc52 !important;
      background-color: transparent; }
      #mainNav .navbar-nav > li > a.active:hover {
        background-color: transparent; }
  #mainNav .navbar-nav > li > a,
  #mainNav .navbar-nav > li > a:focus {
    color: #222222; }
    #mainNav .navbar-nav > li > a:hover,
    #mainNav .navbar-nav > li > a:focus:hover {
      color: #fdcc52; }
  @media (min-width: 992px) {
    #mainNav {
      border-color: transparent;
      background-color: transparent; }
      #mainNav .navbar-brand {
        color: fade(white, 70%); }
        #mainNav .navbar-brand:hover, #mainNav .navbar-brand:focus {
          color: white; }
      #mainNav .navbar-nav > li > a,
      #mainNav .navbar-nav > li > a:focus {
        color: rgba(255, 255, 255, 0.7); }
        #mainNav .navbar-nav > li > a:hover,
        #mainNav .navbar-nav > li > a:focus:hover {
          color: white; }
      #mainNav.navbar-shrink {
        border-color: rgba(34, 34, 34, 0.1);
        background-color: white; }
        #mainNav.navbar-shrink .navbar-brand {
          color: #222222; }
          #mainNav.navbar-shrink .navbar-brand:hover, #mainNav.navbar-shrink .navbar-brand:focus {
            color: #fdcc52; }
        #mainNav.navbar-shrink .navbar-nav > li > a,
        #mainNav.navbar-shrink .navbar-nav > li > a:focus {
          color: #222222; }
          #mainNav.navbar-shrink .navbar-nav > li > a:hover,
          #mainNav.navbar-shrink .navbar-nav > li > a:focus:hover {
            color: #fdcc52; } }

header.add-1 {
  position: relative;
  background-attachment: cover;
  background: url(../img/header-diapo-1.png) no-repeat top, -moz-radial-gradient(center, ellipse cover, #233f70 3%, #120f0f 100%);
  background: url(../img/header-diapo-1.png) no-repeat top, -webkit-radial-gradient(center, ellipse cover, #233f70 3%, #120f0f 100%);
  background: url(../img/header-diapo-1.png) no-repeat top, -webkit-radial-gradient(center, ellipse, #233f70 3%, #120f0f 100%);
  background: url(../img/header-diapo-1.png) no-repeat top, -o-radial-gradient(center, ellipse, #233f70 3%, #120f0f 100%);
  background: url(../img/header-diapo-1.png) no-repeat top, radial-gradient(ellipse at center, #233f70 3%, #120f0f 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#233f70', endColorstr='#120f0f',GradientType=1);
  background-size: inherit;
  width: 100%;
  color: yellow; }
  header.add-1 .header-content {
    /*  max-width: 500px;*/
    margin-bottom: 100px;
    text-align: center; }
    header.add-1 .header-content h1 {
      font-family: 'Exo', sans-serif;
      font-size: 3.5rem;
      font-weight: 800;
      text-transform: uppercase; }
  header.add-1 .device-container {
    max-width: 325px;
    margin-right: auto;
    margin-left: auto; }
    header.add-1 .device-container .screen img {
      border-radius: 3px; }
  @media (min-width: 992px) {
    header.add-1 {
      padding-top: 0;
      padding-bottom: 0;
      background-size: contain; }
      header.add-1 .header-content {
        margin-bottom: 0;
        text-align: left; }
        header.add-1 .header-content h1 {
          font-size: 5rem; }
      header.add-1 .device-container {
        max-width: 325px; } }

/*// Styling for the download section*/
section.add-2 {
  color: #fff;
  background-attachment: cover;
  background: -moz-radial-gradient(center, ellipse cover, #233f70 3%, #120f0f 100%);
  background: -webkit-radial-gradient(center, ellipse cover, #233f70 3%, #120f0f 100%);
  background: -webkit-radial-gradient(center, ellipse, #233f70 3%, #120f0f 100%);
  background: -o-radial-gradient(center, ellipse, #233f70 3%, #120f0f 100%);
  background: radial-gradient(ellipse at center, #233f70 3%, #120f0f 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#233f70', endColorstr='#120f0f',GradientType=1);
  background-size: inherit;
  position: relative;
  padding: 0; }
  section.add-2 h2 {
    color: yellow;
    font-family: 'Exo', sans-serif;
    font-size: 2.5rem;
    font-weight: 800;
    text-transform: uppercase;
    line-height: 2.5rem; }
  section.add-2 h3 {
    color: yellow;
    font-family: 'Exo', sans-serif;
    font-size: 2.5rem;
    font-weight: 800;
    text-transform: uppercase;
    line-height: 2.5rem; }
  section.add-2 h4 {
    font-family: 'Handlee', cursive;
    font-size: 3.5rem;
    line-height: 3rem;
    font-weight: 400; }
  @media (min-width: 576px) {
    section.add-2 h2 {
      color: yellow;
      font-family: 'Exo', sans-serif;
      font-size: 2.5rem;
      font-weight: 800;
      text-transform: uppercase;
      line-height: 2.5rem; }
    section.add-2 h3 {
      color: yellow;
      font-family: 'Exo', sans-serif;
      font-size: 2.5rem;
      font-weight: 800;
      text-transform: uppercase;
      line-height: 2.5rem; }
    section.add-2 h4 {
      font-family: 'Handlee', cursive;
      line-height: 3rem;
      font-weight: 400;
      font-weight: 400; } }
  @media (min-width: 768px) {
    section.add-2 h2 {
      font-size: 4rem;
      font-weight: 800;
      line-height: 4rem;
      text-transform: uppercase; }
    section.add-2 h3 {
      font-size: 4rem;
      font-weight: 800;
      line-height: 4rem;
      text-transform: uppercase; }
    section.add-2 h4 {
      font-size: 5.5rem;
      line-height: 6rem;
      font-weight: 400; } }
  @media (min-width: 1200px) {
    section.add-2 h2 {
      font-size: 6rem;
      font-weight: 800;
      line-height: 5rem;
      text-transform: uppercase; }
    section.add-2 h3 {
      font-size: 6rem;
      font-weight: 800;
      line-height: 6rem;
      text-transform: uppercase; }
    section.add-2 h4 {
      font-size: 8rem;
      line-height: 8rem;
      font-weight: 400; } }
  @media (min-width: 1500px) and (max-width: 1879.98px) {
    section.add-2 h2 {
      color: yellow;
      font-family: 'Exo', sans-serif;
      font-size: 7rem;
      font-weight: 800;
      line-height: 7rem;
      text-transform: uppercase; }
    section.add-2 h3 {
      font-size: 7rem;
      line-height: 7rem;
      text-transform: uppercase; }
    section.add-2 h4 {
      font-family: 'Handlee', cursive;
      font-size: 9rem;
      line-height: 9rem;
      font-weight: 400; } }
  @media (min-width: 1880px) {
    section.add-2 h2 {
      color: yellow;
      font-family: 'Exo', sans-serif;
      font-size: 9rem;
      font-weight: 800;
      line-height: 9rem;
      text-transform: uppercase; }
    section.add-2 h3 {
      font-size: 9rem;
      line-height: 9rem;
      text-transform: uppercase; }
    section.add-2 h4 {
      font-family: 'Handlee', cursive;
      font-size: 11rem;
      line-height: 11rem;
      font-weight: 400; } }

section.add-3 {
  background-color: yellow; }
  section.add-3 .background-interrogacion {
    top: 0px;
    position: absolute;
    background-attachment: cover;
    background: url(../svg/interrogacion.svg), yellow;
    background: url(../svg/interrogacion.svg), yellow;
    background: url(../svg/interrogacion.svg), yellow;
    background-repeat: no-repeat;
    background-position: right;
    background-size: inherit;
    width: 100%;
    height: 100%;
    visibility: collapse;
    display: none; }
  section.add-3 h2 {
    font-family: 'Exo', sans-serif;
    color: #052a56;
    font-size: 3rem;
    line-height: 3rem;
    font-weight: 800;
    padding-right: 40px;
    text-transform: uppercase;
    text-align: center; }
  section.add-3 h3 {
    font-family: 'lora', sans-serif;
    font-weight: 400;
    color: #000;
    position: relative;
    font-size: 20rem;
    line-height: 1px;
    bottom: 0px;
    left: -61px;
    -ms-transform: rotate(-19deg);
    -webkit-transform: rotate(-19deg);
    transform: rotate(-19deg); }
  @media (min-width: 576px) {
    section.add-3 .background-interrogacion {
      visibility: visible;
      display: initial; }
    section.add-3 h2 {
      font-family: 'Exo', sans-serif;
      color: #052a56;
      font-size: 4rem;
      line-height: 4rem;
      padding-right: 40px;
      font-weight: 800;
      text-transform: uppercase;
      text-align: left; } }
  @media (min-width: 768px) {
    section.add-3 h2 {
      font-size: 4rem;
      padding-right: 10px;
      font-weight: 800;
      line-height: 3.5rem;
      text-align: right;
      text-transform: uppercase;
      color: #052a56;
      text-shadow: 2px 2px 2px #fff; }
    section.add-3 h3 {
      visibility: collapse; }
    section.add-3 .background-interrogacion {
      top: 0px;
      position: absolute;
      background-attachment: cover;
      background: url(../svg/interrogacion.svg), yellow;
      background: url(../svg/interrogacion.svg), yellow;
      background: url(../svg/interrogacion.svg), yellow;
      background-repeat: no-repeat;
      background-position: right;
      background-size: inherit;
      width: 100%;
      height: 100%;
      visibility: visible;
      display: initial; } }
  @media (min-width: 1200px) {
    section.add-3 h2 {
      font-size: 5rem;
      font-weight: 800;
      line-height: 5.5rem;
      padding-right: 40px;
      text-transform: uppercase; } }
  @media (min-width: 1500px) and (max-width: 1879.98px) {
    section.add-3 h2 {
      font-family: 'Exo', sans-serif;
      font-size: 6rem;
      font-weight: 800;
      line-height: 6rem;
      padding-right: 40px;
      text-transform: uppercase; } }
  @media (min-width: 1880px) {
    section.add-3 h2 {
      font-family: 'Exo', sans-serif;
      font-size: 8rem;
      font-weight: 800;
      padding-right: 40px;
      line-height: 8rem;
      text-transform: uppercase; } }

section.add-4 {
  background-color: #BCBAB7 !important; }
  section.add-4 .background-interrogacion {
    top: 0px;
    position: absolute;
    background-attachment: cover;
    background: url(../svg/interrogacion.svg);
    background: url(../svg/interrogacion.svg);
    background: url(../svg/interrogacion.svg);
    background-repeat: no-repeat;
    background-position: right;
    background-size: inherit;
    width: 100%;
    height: 100%;
    visibility: collapse;
    display: none; }
  section.add-4 h2 {
    font-family: 'Handlee', cursive;
    font-size: 3.5rem;
    font-weight: 800;
    text-align: center;
    position: relative;
    right: 30px;
    top: -25px;
    color: #fff; }
  section.add-4 h3 {
    font-family: 'Exo', sans-serif;
    color: #e81d1d;
    font-size: 2rem;
    line-height: 2rem;
    font-weight: 800;
    text-align: center;
    text-transform: uppercase; }
  section.add-4 h4 {
    font-family: 'lora', sans-serif;
    font-weight: 400;
    position: relative;
    font-size: 20rem;
    line-height: 1px;
    bottom: 0px;
    left: -61px;
    -ms-transform: rotate(-19deg);
    -webkit-transform: rotate(-19deg);
    transform: rotate(-19deg); }
  @media (min-width: 576px) {
    section.add-4 .background-interrogacion {
      visibility: visible;
      display: initial; }
    section.add-4 h2 {
      font-family: 'Handlee', cursive;
      color: #fff;
      font-size: 4rem;
      line-height: 4rem;
      padding-right: 40px;
      font-weight: 800;
      text-align: right; }
    section.add-4 h3 {
      font-family: 'Exo', sans-serif;
      font-size: 3rem;
      font-weight: 800;
      text-align: right;
      text-transform: uppercase; }
    section.add-4 h4 {
      font-family: 'lora', sans-serif;
      color: #000;
      font-weight: 800; } }
  @media (min-width: 768px) {
    section.add-4 h2 {
      right: 250px;
      top: 30px;
      font-family: 'Handlee', cursive;
      font-size: 7rem;
      font-weight: 800; }
    section.add-4 h3 {
      font-size: 4rem;
      padding-right: 10px;
      font-weight: 800;
      line-height: 3.5rem;
      text-align: right;
      text-transform: uppercase;
      text-shadow: 2px 2px 2px #fff; }
    section.add-4 h4 {
      visibility: collapse;
      display: none; } }
  @media (min-width: 1200px) {
    section.add-4 h2 {
      font-size: 10rem;
      font-family: 'Handlee', cursive;
      font-weight: 800;
      line-height: 9.5rem;
      padding-right: 40px; }
    section.add-4 h3 {
      font-family: 'Exo', sans-serif;
      font-size: 5rem;
      line-height: 4.5rem;
      font-weight: 800;
      text-transform: uppercase; } }
  @media (min-width: 1500px) and (max-width: 1879.98px) {
    section.add-4 h2 {
      font-family: 'Handlee', cursive;
      font-size: 10rem;
      font-weight: 800;
      line-height: 13rem;
      padding-right: 40px; }
    section.add-4 h3 {
      font-family: 'Exo', sans-serif;
      font-size: 5rem;
      line-height: 4.5rem;
      font-weight: 800;
      text-transform: uppercase; } }
  @media (min-width: 1880px) {
    section.add-4 h2 {
      font-family: 'Handlee', cursive;
      font-size: 15rem;
      font-weight: 800;
      padding-right: 40px;
      line-height: 8rem; }
    section.add-4 h3 {
      font-family: 'Exo', sans-serif;
      font-size: 7rem;
      line-height: 6.5rem;
      font-weight: 800;
      text-transform: uppercase; } }

section.add-5 {
  background-color: yellow !important; }
  section.add-5 .background-admiracion {
    top: 0px;
    position: absolute;
    background-attachment: cover;
    background: url(../svg/admiracion.svg);
    background: url(../svg/admiracion.svg);
    background: url(../svg/admiracion.svg);
    background-repeat: no-repeat;
    background-position: right;
    background-size: inherit;
    width: 100%;
    height: 100%;
    visibility: collapse;
    display: none; }
  section.add-5 h2 {
    font-family: 'Handlee', cursive;
    font-size: 3.5rem;
    line-height: 3rem;
    font-weight: 800;
    color: #fff; }
  section.add-5 h3 {
    font-family: 'Exo', sans-serif;
    color: #000;
    font-size: 2rem;
    line-height: 2rem;
    font-weight: 800;
    text-transform: uppercase; }
  section.add-5 h4 {
    font-family: 'Exo', sans-serif;
    color: #000;
    font-size: 3rem;
    font-weight: 800;
    text-transform: uppercase; }
  section.add-5 span {
    font-family: 'lora', sans-serif;
    font-weight: 400;
    color: #000;
    position: relative;
    font-size: 20rem;
    line-height: 1px;
    bottom: 0px;
    left: -61px;
    -ms-transform: rotate(-19deg);
    -webkit-transform: rotate(-19deg);
    transform: rotate(-19deg); }
  @media (min-width: 576px) {
    section.add-5 .background-admiracion {
      visibility: visible;
      display: initial; } }
  @media (min-width: 768px) {
    section.add-5 h2 {
      color: #fff;
      position: relative;
      right: 145px;
      top: 10px;
      font-family: 'Handlee', cursive;
      font-size: 8rem;
      font-weight: 400; }
    section.add-5 h3 {
      color: #000;
      font-family: 'Exo', sans-serif;
      font-size: 3rem;
      line-height: 3.5rem;
      font-weight: 900;
      text-transform: uppercase; }
    section.add-5 h4 {
      color: #000;
      font-family: 'Exo', sans-serif;
      font-size: 7rem;
      line-height: 6rem;
      font-weight: 900;
      text-transform: uppercase; }
    section.add-5 span {
      visibility: collapse;
      display: none; } }
  @media (min-width: 1200px) {
    section.add-5 h2 {
      color: #fff;
      position: relative;
      right: 145px;
      top: 10px;
      font-family: 'Handlee', cursive;
      font-size: 8rem;
      font-weight: 400; }
    section.add-5 h3 {
      color: #000;
      font-family: 'Exo', sans-serif;
      font-size: 4rem;
      line-height: 3.5rem;
      font-weight: 900;
      text-transform: uppercase; }
    section.add-5 h4 {
      color: #000;
      font-family: 'Exo', sans-serif;
      font-size: 7rem;
      line-height: 6rem;
      font-weight: 900;
      text-transform: uppercase; } }
  @media (min-width: 1500px) and (max-width: 1879.98px) {
    section.add-5 h2 {
      color: #fff;
      position: relative;
      right: 145px;
      top: 10px;
      font-family: 'Handlee', cursive;
      font-size: 8rem;
      font-weight: 400; }
    section.add-5 h3 {
      color: #000;
      font-family: 'Exo', sans-serif;
      font-size: 4rem;
      line-height: 3.5rem;
      font-weight: 900;
      text-transform: uppercase; }
    section.add-5 h4 {
      color: #000;
      font-family: 'Exo', sans-serif;
      font-size: 7rem;
      line-height: 6rem;
      font-weight: 900;
      text-transform: uppercase; } }
  @media (min-width: 1880px) {
    section.add-5 h2 {
      color: #fff;
      position: relative;
      right: 145px;
      top: 10px;
      font-family: 'Handlee', cursive;
      font-size: 11rem;
      line-height: 10rem;
      font-weight: 400; }
    section.add-5 h3 {
      color: #000;
      font-family: 'Exo', sans-serif;
      font-size: 5rem;
      line-height: 5.5rem;
      font-weight: 900;
      text-transform: uppercase; }
    section.add-5 h4 {
      color: #000;
      font-family: 'Exo', sans-serif;
      font-size: 10rem;
      line-height: 10rem;
      font-weight: 900;
      text-transform: uppercase; } }

section.add-6 {
  background-color: white !important; }
  section.add-6 .background-interrogacionright {
    top: 0px;
    position: absolute;
    background-attachment: cover;
    background: url(../svg/interrogacionright.svg);
    background: url(../svg/interrogacionright.svg);
    background: url(../svg/interrogacionright.svg);
    background-repeat: no-repeat;
    background-position: right;
    background-size: inherit;
    width: 100%;
    height: 50%;
    top: 50%;
    visibility: collapse;
    display: none; }
  section.add-6 h3 {
    font-family: 'Handlee', cursive;
    font-size: 2rem;
    font-weight: 800;
    color: purple;
    text-align: right; }
  section.add-6 h2 {
    font-family: 'Exo', sans-serif;
    color: #000;
    font-size: 3rem;
    font-weight: 800;
    text-align: right;
    text-transform: uppercase; }
  section.add-6 h4 {
    font-size: 1.9rem;
    font-weight: 800;
    color: #000;
    text-align: right; }
  section.add-6 span {
    text-align: right;
    font-family: 'lora', sans-serif;
    font-weight: 400;
    color: #000;
    position: relative;
    font-size: 20rem;
    line-height: 1px;
    bottom: 0px;
    left: -61px;
    -ms-transform: rotate(-19deg);
    -webkit-transform: rotate(-19deg);
    transform: rotate(-19deg); }
  @media (min-width: 768px) {
    section.add-6 .background-interrogacionright {
      visibility: visible;
      display: initial; }
    section.add-6 h3 {
      font-family: 'Handlee', cursive;
      font-size: 3rem;
      font-weight: 800; }
    section.add-6 h2 {
      color: #000;
      font-family: 'Exo', sans-serif;
      font-size: 10rem;
      line-height: 10rem;
      font-weight: 800;
      text-transform: uppercase; }
    section.add-6 h4 {
      font-size: 4rem;
      font-weight: 800;
      color: #000; }
    section.add-6 span {
      text-align: right;
      font-family: 'lora', sans-serif;
      font-weight: 400;
      color: #000;
      position: relative;
      font-size: 20rem;
      line-height: 1px;
      bottom: 0px;
      left: -61px;
      -ms-transform: rotate(-19deg);
      -webkit-transform: rotate(-19deg);
      transform: rotate(-19deg);
      visibility: collapse;
      display: none; } }
  @media (min-width: 1200px) {
    section.add-6 h3 {
      font-family: 'Handlee', cursive;
      font-size: 4rem;
      font-weight: 800; }
    section.add-6 h2 {
      color: #000;
      font-family: 'Exo', sans-serif;
      font-size: 11rem;
      line-height: 11rem;
      font-weight: 800;
      text-transform: uppercase; }
    section.add-6 h4 {
      font-size: 4rem;
      font-weight: 800;
      color: #000; }
    section.add-6 span {
      text-align: right;
      font-family: 'lora', sans-serif;
      font-weight: 400;
      color: #000;
      position: relative;
      font-size: 20rem;
      line-height: 1px;
      bottom: 0px;
      left: -61px;
      -ms-transform: rotate(-19deg);
      -webkit-transform: rotate(-19deg);
      transform: rotate(-19deg); } }

section.add-7 {
  background-color: #ff7f00 !important; }
  section.add-7 h2 {
    font-family: 'Handlee', cursive;
    font-size: 3.5rem;
    font-weight: 800;
    color: #fff; }
  section.add-7 h3 {
    font-family: 'Exo', sans-serif;
    color: #000;
    font-size: 3rem;
    font-weight: 800;
    text-transform: uppercase; }
  section.add-7 .list-social {
    text-aling: center;
    margin-bottom: 0; }
    section.add-7 .list-social li a {
      text-align: center;
      font-size: 30px;
      line-height: 60px;
      display: block;
      width: 60px;
      height: 60px;
      color: white;
      border-radius: 100%;
      border: 2px solid #fff; }
    section.add-7 .list-social li.social-twitter a:hover {
      background-color: white;
      color: #0d95e8; }
    section.add-7 .list-social li.social-facebook a:hover {
      background-color: white;
      color: #344e86; }
    section.add-7 .list-social li.social-linkedin a:hover {
      background-color: white;
      color: #0069a0; }
  section.add-7 span {
    font-family: 'lora', sans-serif;
    color: #000;
    font-weight: 400;
    position: absolute;
    font-size: 20rem;
    line-height: 1px;
    bottom: 127px;
    left: 256px;
    -ms-transform: rotate(-27deg);
    -webkit-transform: rotate(-27deg);
    transform: rotate(-19deg); }
  @media (min-width: 768px) {
    section.add-7 h2 {
      position: relative;
      right: -10px;
      top: 30px;
      font-family: 'Handlee', cursive;
      font-size: 7rem;
      font-weight: 800; }
    section.add-7 h3 {
      color: #000;
      font-family: 'Exo', sans-serif;
      font-size: 4rem;
      line-height: 4rem;
      font-weight: 800;
      text-transform: uppercase; }
    section.add-7 h4 {
      color: white; }
    section.add-7 span {
      font-family: 'lora', sans-serif;
      color: #000;
      font-weight: 400;
      position: absolute;
      font-size: 28rem;
      line-height: 1px;
      bottom: 20%;
      left: -251%;
      -ms-transform: rotate(15deg);
      -webkit-transform: rotate(15deg);
      transform: rotate(15deg); } }
  @media (min-width: 1200px) {
    section.add-7 h2 {
      font-size: 6rem;
      font-weight: 800;
      line-height: 8.5rem;
      padding-right: 40px;
      text-transform: uppercase; } }
  @media (min-width: 1500px) and (max-width: 1879.98px) {
    section.add-7 h2 {
      font-family: 'Handlee', cursive;
      font-size: 6rem;
      font-weight: 800;
      line-height: 6rem;
      padding-right: 40px;
      text-transform: uppercase; } }
  @media (min-width: 1880px) {
    section.add-7 h2 {
      font-family: 'Exo', sans-serif;
      font-size: 8rem;
      font-weight: 800;
      padding-right: 40px;
      line-height: 8rem;
      text-transform: uppercase; } }

section.add-8 {
  background-color: #9EE4E8 !important; }
  section.add-8 h2 {
    font-family: 'Exo', sans-serif;
    color: #000;
    font-size: 1.5rem;
    line-height: 1.5rem;
    font-weight: 800; }
  section.add-8 h3 {
    font-size: 1.5rem;
    line-height: 1.5rem;
    font-weight: 800;
    color: #000;
    text-transform: uppercase; }
  section.add-8 span {
    font-family: 'Handlee', cursive;
    color: white; }
  @media (min-width: 768px) {
    section.add-8 h2 {
      font-family: 'Exo', sans-serif;
      font-size: 3rem;
      line-height: 3rem;
      font-weight: 800; }
    section.add-8 h3 {
      font-size: 3rem;
      font-weight: 800;
      line-height: 3rem;
      text-transform: uppercase; } }

section.add-9 {
  background-attachment: cover;
  background: -moz-radial-gradient(center, ellipse cover, #233f70 3%, #120f0f 100%);
  background: -webkit-radial-gradient(center, ellipse cover, #233f70 3%, #120f0f 100%);
  background: -webkit-radial-gradient(center, ellipse, #233f70 3%, #120f0f 100%);
  background: -o-radial-gradient(center, ellipse, #233f70 3%, #120f0f 100%);
  background: radial-gradient(ellipse at center, #233f70 3%, #120f0f 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#233f70', endColorstr='#120f0f',GradientType=1);
  background-size: inherit;
  width: 100%; }
  section.add-9 h2 {
    color: white;
    font-family: 'Handlee', cursive;
    font-size: 3rem;
    line-height: 3rem;
    font-weight: 800;
    text-align: center; }
  section.add-9 span {
    font-family: 'Exo', sans-serif;
    color: yellow;
    font-weight: 800;
    font-size: 2rem;
    line-height: 2rem; }
  @media (min-width: 768px) {
    section.add-9 h2 {
      font-family: 'Handlee', cursive;
      font-size: 7rem;
      line-height: 6rem;
      font-weight: 800; }
      section.add-9 h2 span {
        font-family: 'Exo', sans-serif;
        color: yellow;
        font-weight: 800;
        font-size: 3rem;
        line-height: 5rem; } }

section.add-10 {
  background-color: yellow !important; }
  section.add-10 .background-interrogacion {
    top: 0px;
    position: absolute;
    background-attachment: cover;
    background: url(../svg/interrogacionright.svg), yellow;
    background: url(../svg/interrogacionright.svg), yellow;
    background: url(../svg/interrogacionright.svg), yellow;
    background-repeat: no-repeat;
    background-position: right;
    background-size: inherit;
    width: 100%;
    height: 50%;
    top: 50%;
    visibility: collapse;
    display: none; }
  section.add-10 h1 {
    display: block;
    text-align: center;
    margin: 0 auto;
    font-family: 'Exo', sans-serif;
    font-size: 3.5rem;
    line-height: 2rem;
    font-weight: 800;
    color: #000;
    text-align: center; }
  section.add-10 h2 {
    display: block;
    text-align: center;
    font-family: 'Exo', sans-serif;
    color: #000;
    font-size: 1.9rem;
    line-height: 2rem;
    font-weight: 800;
    text-transform: uppercase;
    text-align: center; }
  section.add-10 h3 {
    display: block;
    text-align: center;
    font-family: 'Exo', sans-serif;
    color: #000;
    font-size: 2.5rem;
    line-height: 2rem;
    font-weight: 800;
    text-transform: uppercase;
    text-align: center; }
  section.add-10 h4 {
    display: block;
    text-align: center;
    font-family: 'Exo', sans-serif;
    color: #000;
    font-size: 5.7rem;
    line-height: 6rem;
    font-weight: 800;
    text-transform: uppercase;
    text-align: center; }
  section.add-10 span {
    font-family: 'lora', sans-serif;
    font-weight: 400;
    position: relative;
    font-size: 20rem;
    line-height: 1px;
    bottom: 0px;
    left: -61px;
    -ms-transform: rotate(-19deg);
    -webkit-transform: rotate(-19deg);
    transform: rotate(-19deg); }
  @media (min-width: 768px) {
    section.add-10 .background-interrogacion {
      visibility: visible;
      display: initial; }
    section.add-10 h1 {
      color: #000;
      margin: 0 auto;
      font-family: 'Exo', sans-serif;
      font-size: 8.7rem;
      font-weight: 800;
      letter-spacing: -0.7rem;
      line-height: 6.5rem;
      text-align: center; }
    section.add-10 h2 {
      margin: 0 auto;
      color: #000;
      font-family: 'Exo', sans-serif;
      font-size: 3.8rem;
      line-height: 3rem;
      font-weight: 800;
      text-transform: uppercase;
      letter-spacing: .3rem;
      text-align: center; }
    section.add-10 h3 {
      margin: 0 auto;
      color: #000;
      font-family: 'Exo', sans-serif;
      font-size: 5.2rem;
      line-height: 5.5rem;
      font-weight: 800;
      text-transform: uppercase;
      letter-spacing: .2rem;
      text-align: center; }
    section.add-10 h4 {
      margin: 0 auto;
      color: #000;
      font-family: 'Exo', sans-serif;
      font-size: 12rem;
      line-height: 13rem;
      font-weight: 800;
      letter-spacing: 0rem;
      text-transform: uppercase;
      text-align: center; }
    section.add-10 span {
      color: #000;
      font-weight: 800;
      position: absolute;
      font-size: 54rem;
      line-height: 1px;
      bottom: 198px;
      left: 343px;
      -ms-transform: rotate(-27deg);
      /* IE 9 */
      -webkit-transform: rotate(-27deg);
      /* Safari 3-8 */
      transform: rotate(-27deg); } }

section.add-11 {
  background-color: #9EE4E8 !important; }
  section.add-11 h1 {
    display: block;
    text-align: center;
    margin: 0 auto;
    font-family: 'Exo', sans-serif;
    font-size: 1.5rem;
    line-height: 1.5rem;
    font-weight: 800;
    color: #000; }
  section.add-11 h2 {
    display: block;
    text-align: center;
    font-family: 'Handlee', cursive;
    color: #fff;
    font-size: 1.5rem;
    line-height: 1.5rem;
    font-weight: 800; }
  section.add-11 h3 {
    display: block;
    text-align: center;
    font-family: 'Exo', sans-serif;
    color: #000;
    font-size: 1.5rem;
    line-height: 1.5rem;
    font-weight: 800;
    text-transform: uppercase; }
  section.add-11 h4 {
    display: block;
    text-align: center;
    font-family: 'Exo', sans-serif;
    color: #000;
    font-size: 1.5rem;
    line-height: 1.5rem;
    font-weight: 300;
    text-transform: uppercase; }
  @media (min-width: 768px) {
    section.add-11 h1 {
      display: block;
      text-align: center;
      margin: 0 auto;
      font-family: 'Exo', sans-serif;
      font-size: 3.5rem;
      line-height: 3.5rem;
      font-weight: 800;
      color: #000; }
    section.add-11 h2 {
      display: block;
      text-align: center;
      font-family: 'Handlee', cursive;
      color: #fff;
      font-size: 2.5rem;
      line-height: 3.5rem;
      font-weight: 800; }
    section.add-11 h3 {
      display: block;
      text-align: center;
      font-family: 'Exo', sans-serif;
      color: #000;
      font-size: 3.5rem;
      line-height: 3.5rem;
      font-weight: 800;
      text-transform: uppercase; }
    section.add-11 h4 {
      display: block;
      text-align: center;
      font-family: 'Handlee', cursive;
      color: #000;
      font-size: 2.5rem;
      line-height: 2.5rem;
      font-weight: 300;
      text-transform: uppercase; } }

section.add-12 {
  background-color: #FF7F00 !important; }
  section.add-12 .background-interrogacionright {
    top: 0px;
    position: absolute;
    background-attachment: cover;
    background: url(../svg/interrogacionright.svg);
    background: url(../svg/interrogacionright.svg);
    background: url(../svg/interrogacionright.svg);
    background-repeat: no-repeat;
    background-position: right;
    background-size: inherit;
    width: 100%;
    height: 50%;
    top: 50%; }
  section.add-12 h2 {
    font-family: 'Exo', sans-serif;
    color: #fff;
    font-size: 3rem;
    font-weight: 800;
    text-align: center; }
  @media (min-width: 768px) {
    section.add-12 h2 {
      font-family: 'Exo', sans-serif;
      font-size: 5rem;
      line-height: 4.5rem;
      font-weight: 800; } }

section.add-13 h1 {
  display: block;
  text-align: center;
  margin: 0 auto;
  font-family: 'Handlee', cursive;
  font-size: 1.5rem;
  line-height: 1.5rem;
  font-weight: 800;
  color: #000; }

section.add-13 h2 {
  display: block;
  text-align: center;
  font-family: 'Exo', sans-serif;
  color: #e40000;
  font-size: 1.5rem;
  line-height: 1.5rem;
  font-weight: 800; }

section.add-13 h3 {
  display: block;
  text-align: center;
  font-family: 'Handlee', cursive;
  color: #000;
  font-size: 2rem;
  line-height: 1.5rem;
  font-weight: 800; }

section.add-13 h4 {
  display: block;
  text-align: center;
  font-family: 'Exo', sans-serif;
  color: #e40000;
  font-size: 1.5rem;
  line-height: 1.5rem;
  font-weight: 800; }

section.add-13 span {
  font-family: 'Exo', sans-serif;
  color: #e40000;
  font-size: 2rem;
  line-height: 2rem;
  font-weight: 800;
  text-transform: uppercase; }

@media (min-width: 768px) {
  section.add-13 h1 {
    display: block;
    font-weight: 800;
    color: #000;
    text-align: right;
    font-family: 'Exo', sans-serif;
    font-size: 2.5rem;
    line-height: 2.5rem;
    font-style: italic; }
  section.add-13 h2 {
    display: block;
    color: #e40000;
    text-align: right;
    font-family: 'Exo', sans-serif;
    font-size: 2.5rem;
    line-height: 2.5rem;
    font-weight: 800;
    text-transform: uppercase; }
  section.add-13 h3 {
    display: block;
    font-family: 'Handlee', cursive;
    color: #000;
    font-weight: 800;
    text-align: right;
    font-size: 2.5rem;
    line-height: 2.5rem;
    font-style: italic; }
  section.add-13 h4 {
    display: block;
    color: #e40000;
    font-weight: 800;
    text-align: right;
    font-family: 'Exo', sans-serif;
    font-size: 2rem;
    line-height: 2rem; }
  section.add-13 span {
    font-family: 'Exo', sans-serif;
    color: #e40000;
    font-size: 2.5rem;
    line-height: 2.5rem;
    font-weight: 800;
    text-transform: uppercase; } }

@media (min-width: 1400px) {
  section.add-13 h1 {
    display: block;
    font-weight: 800;
    color: #000;
    text-align: right;
    font-family: 'Exo', sans-serif;
    font-size: 4.5rem;
    line-height: 4.5rem;
    font-style: italic; }
  section.add-13 h2 {
    display: block;
    color: #e40000;
    text-align: right;
    font-family: 'Exo', sans-serif;
    font-size: 4rem;
    line-height: 4rem;
    font-weight: 800;
    text-transform: uppercase; }
  section.add-13 h3 {
    display: block;
    font-family: 'Handlee', cursive;
    color: #000;
    font-weight: 800;
    text-align: right;
    font-size: 4.5rem;
    line-height: 4.5rem;
    font-style: italic; }
  section.add-13 h4 {
    display: block;
    color: #e40000;
    font-weight: 800;
    text-align: right;
    font-family: 'Exo', sans-serif;
    font-size: 4rem;
    line-height: 4rem; }
  section.add-13 span {
    font-family: 'Exo', sans-serif;
    color: #e40000;
    font-size: 4rem;
    line-height: 4rem;
    font-weight: 800;
    text-transform: uppercase; } }

section.add-14 {
  background-color: #B40803 !important; }
  section.add-14 .background-interrogacion {
    top: 0px;
    position: absolute;
    background-attachment: cover;
    background: url(../svg/interrogacion.svg);
    background: url(../svg/interrogacion.svg);
    background: url(../svg/interrogacion.svg);
    background-repeat: no-repeat;
    background-position: right;
    background-size: inherit;
    width: 100%;
    height: 100%;
    visibility: collapse;
    display: none; }
  section.add-14 h2 {
    font-family: 'Exo', sans-serif;
    color: #fff;
    font-size: 3rem;
    font-weight: 800;
    text-transform: uppercase; }
  section.add-14 span {
    color: #000;
    font-weight: 800;
    position: absolute;
    font-size: 20rem;
    line-height: 1px;
    bottom: 127px;
    left: 256px;
    -ms-transform: rotate(-27deg);
    -webkit-transform: rotate(-27deg);
    transform: rotate(-19deg); }
  @media (min-width: 768px) {
    section.add-14 .background-interrogacion {
      visibility: visible;
      display: initial; }
    section.add-14 h2 {
      color: #fff;
      font-family: 'Exo', sans-serif;
      font-size: 7rem;
      line-height: 7rem;
      font-weight: 800;
      text-transform: uppercase; }
    section.add-14 span {
      color: #000;
      font-weight: 800;
      position: absolute;
      font-size: 40rem;
      line-height: 1px;
      bottom: 262px;
      left: 399px;
      -ms-transform: rotate(-27deg);
      -webkit-transform: rotate(-27deg);
      transform: rotate(-21deg); } }
  section.add-14 .feature-item {
    padding-top: 0px;
    padding-bottom: 0px;
    text-align: center; }
    section.add-14 .feature-item h3 {
      font-size: 20px; }
    section.add-14 .feature-item i {
      font-size: 60px;
      display: block;
      margin-bottom: 15px;
      background: -webkit-linear-gradient(to left, #7b4397, #dc2430);
      background: -webkit-gradient(linear, right top, left top, from(#7b4397), to(#dc2430));
      background: -webkit-linear-gradient(right, #7b4397, #dc2430);
      background: -o-linear-gradient(right, #7b4397, #dc2430);
      background: linear-gradient(to left, #7b4397, #dc2430);
      -webkit-background-clip: text;
      -webkit-text-fill-color: transparent; }

section.add-15 {
  background-color: #fff !important; }
  section.add-15 h2 {
    font-family: 'Exo', sans-serif;
    color: #B40803;
    font-size: 3rem;
    font-weight: 800;
    text-transform: uppercase; }
  section.add-15 span {
    color: #000;
    font-weight: 800;
    position: absolute;
    font-size: 20rem;
    line-height: 1px;
    bottom: 127px;
    left: 256px;
    -ms-transform: rotate(-27deg);
    -webkit-transform: rotate(-27deg);
    transform: rotate(-19deg); }
  section.add-15 .device-container,
  section.add-15 .feature-item {
    max-width: 325px;
    margin: 0 auto; }
  section.add-15 .device-container {
    margin-bottom: 0px; }
  @media (min-width: 768px) {
    section.add-15 h2 {
      font-family: 'Exo', sans-serif;
      font-size: 6rem;
      line-height: 5.5rem;
      font-weight: 800;
      text-transform: uppercase; }
    section.add-15 span {
      color: #000;
      font-weight: 800;
      position: absolute;
      font-size: 54rem;
      line-height: 1px;
      bottom: 198px;
      left: 343px;
      -ms-transform: rotate(-27deg);
      /* IE 9 */
      -webkit-transform: rotate(-27deg);
      /* Safari 3-8 */
      transform: rotate(-27deg); } }
  section.add-15 .feature-item {
    padding-top: 0px;
    padding-bottom: 0px;
    text-align: center; }
    section.add-15 .feature-item h3 {
      font-size: 20px; }
    section.add-15 .feature-item i {
      font-size: 60px;
      display: block;
      margin-bottom: 15px;
      background: -webkit-linear-gradient(to left, #7b4397, #dc2430);
      background: -webkit-gradient(linear, right top, left top, from(#7b4397), to(#dc2430));
      background: -webkit-linear-gradient(right, #7b4397, #dc2430);
      background: -o-linear-gradient(right, #7b4397, #dc2430);
      background: linear-gradient(to left, #7b4397, #dc2430);
      -webkit-background-clip: text;
      -webkit-text-fill-color: transparent; }

section.add-16 {
  background-attachment: cover;
  background: -moz-radial-gradient(center, ellipse cover, #233f70 3%, #120f0f 100%);
  background: -webkit-radial-gradient(center, ellipse cover, #233f70 3%, #120f0f 100%);
  background: -webkit-radial-gradient(center, ellipse, #233f70 3%, #120f0f 100%);
  background: -o-radial-gradient(center, ellipse, #233f70 3%, #120f0f 100%);
  background: radial-gradient(ellipse at center, #233f70 3%, #120f0f 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#233f70', endColorstr='#120f0f',GradientType=1);
  background-size: inherit;
  position: relative;
  padding: 0; }
  section.add-16 h2 {
    font-family: 'Exo', sans-serif;
    color: white;
    font-size: 1.5rem;
    font-weight: 800; }
  section.add-16 h3 {
    font-family: 'Handlee', cursive;
    color: white;
    font-size: 1rem;
    font-weight: 400; }
  section.add-16 span {
    font-family: 'Exo', sans-serif;
    color: red;
    font-size: 1.5rem;
    font-weight: 800; }
  @media (min-width: 768px) {
    section.add-16 h2 {
      font-family: 'Exo', sans-serif;
      color: white;
      font-size: 3.5rem;
      font-weight: 800; }
    section.add-16 h3 {
      font-family: 'Handlee', cursive;
      color: yellow;
      font-size: 2rem;
      font-weight: 400; }
    section.add-16 span {
      font-family: 'Exo', sans-serif;
      color: red;
      font-size: 2.5rem;
      font-weight: 800; } }

section.add-17 {
  background-color: #ff7f00 !important; }
  section.add-17 h1 {
    font-family: 'Calligraffitti', cursive;
    font-size: 3.5rem;
    font-weight: 800;
    color: #fff; }
  section.add-17 h2 {
    font-family: 'Exo', sans-serif;
    color: #000;
    font-size: 3rem;
    font-weight: 800;
    text-transform: uppercase; }
  section.add-17 span {
    font-family: 'Exo', sans-serif;
    color: #000;
    font-size: 3rem;
    font-weight: 800;
    text-transform: uppercase; }
  section.add-17 .17tf {
    color: red; }
  @media (min-width: 768px) {
    section.add-17 h2 {
      margin-top: 100px;
      color: #fff;
      font-family: 'Exo', sans-serif;
      font-size: 2rem;
      font-weight: 800;
      text-transform: uppercase; }
      section.add-17 h2 i {
        font-size: 9rem;
        margin-top: -131%;
        line-height: 9rem; }
    section.add-17 span {
      margin-top: 100px;
      color: balck;
      font-family: 'Exo', sans-serif;
      font-size: 3rem;
      font-weight: 800;
      text-transform: uppercase; } }

section.add-18 {
  background-color: #fff !important; }
  section.add-18 h2 {
    font-family: 'Exo', sans-serif;
    color: #000;
    font-size: 3rem;
    line-height: 2.5rem;
    font-weight: 800;
    text-transform: uppercase; }
  section.add-18 h3 {
    font-family: 'Exo', sans-serif;
    color: red;
    font-size: 4rem;
    line-height: 3.2rem;
    font-weight: 800;
    text-transform: uppercase; }
  section.add-18 span {
    color: #000;
    font-weight: 800;
    position: absolute;
    font-size: 20rem;
    line-height: 1px;
    bottom: 127px;
    left: 256px;
    -ms-transform: rotate(-27deg);
    -webkit-transform: rotate(-27deg);
    transform: rotate(-19deg); }
  @media (min-width: 768px) {
    section.add-18 h2 {
      color: #000;
      font-family: 'Exo', sans-serif;
      font-size: 6rem;
      line-height: 5rem;
      font-weight: 800;
      text-transform: uppercase; }
    section.add-18 h3 {
      font-family: 'Exo', sans-serif;
      font-size: 6rem;
      line-height: 5rem;
      font-weight: 800;
      text-transform: uppercase; }
    section.add-18 span {
      color: #000;
      font-weight: 800;
      position: absolute;
      font-size: 54rem;
      line-height: 1px;
      bottom: 198px;
      left: 343px;
      -ms-transform: rotate(-27deg);
      /* IE 9 */
      -webkit-transform: rotate(-27deg);
      /* Safari 3-8 */
      transform: rotate(-27deg); } }
  section.add-18 .feature-item {
    padding-top: 0px;
    padding-bottom: 0px;
    text-align: center; }
    section.add-18 .feature-item h3 {
      font-size: 20px; }
    section.add-18 .feature-item i {
      font-size: 60px;
      display: block;
      margin-bottom: 15px;
      background: -webkit-linear-gradient(to left, #7b4397, #dc2430);
      background: -webkit-gradient(linear, right top, left top, from(#7b4397), to(#dc2430));
      background: -webkit-linear-gradient(right, #7b4397, #dc2430);
      background: -o-linear-gradient(right, #7b4397, #dc2430);
      background: linear-gradient(to left, #7b4397, #dc2430);
      -webkit-background-clip: text;
      -webkit-text-fill-color: transparent; }

section.add-19 {
  background-color: #BCBAB7 !important; }
  section.add-19 h2 {
    font-family: 'Exo', sans-serif;
    color: #052A56;
    font-size: 1rem;
    font-weight: 800;
    text-transform: uppercase; }
  section.add-19 .clock {
    font-family: 'Exo', sans-serif;
    color: red;
    font-size: 1rem;
    font-weight: 800;
    text-transform: uppercase; }
  @media (min-width: 768px) {
    section.add-19 h2 {
      font-family: 'Exo', sans-serif;
      font-size: 3rem;
      line-height: 4.5rem;
      font-weight: 800;
      text-transform: uppercase; }
    section.add-19 .clock {
      font-family: 'Exo', sans-serif;
      color: red;
      font-size: 2rem;
      font-weight: 800;
      text-transform: uppercase; } }

section.add-20 {
  background-color: #fff !important; }
  section.add-20 h2 {
    font-family: 'Exo', sans-serif;
    color: #B40803;
    font-size: 3rem;
    font-weight: 800;
    text-transform: uppercase; }
  section.add-20 .feature-item {
    max-width: 325px;
    margin: 0 auto; }
  section.add-20 .device-container {
    margin-bottom: 0px; }
  @media (min-width: 768px) {
    section.add-20 h1 {
      position: relative;
      right: 250px;
      top: 30px;
      font-family: 'Calligraffitti', cursive;
      font-size: 10rem;
      font-weight: 800; }
    section.add-20 h2 {
      color: red;
      font-family: 'Exo', sans-serif;
      font-size: 3rem;
      line-height: 4.5rem;
      font-weight: 800;
      text-transform: uppercase; } }
  section.add-20 .feature-item {
    padding-top: 0px;
    padding-bottom: 0px;
    text-align: center; }
    section.add-20 .feature-item h3 {
      font-size: 20px; }
    section.add-20 .feature-item i {
      font-size: 60px;
      display: block;
      margin-bottom: 15px;
      background: -webkit-linear-gradient(to left, #7b4397, #dc2430);
      background: -webkit-gradient(linear, right top, left top, from(#7b4397), to(#dc2430));
      background: -webkit-linear-gradient(right, #7b4397, #dc2430);
      background: -o-linear-gradient(right, #7b4397, #dc2430);
      background: linear-gradient(to left, #7b4397, #dc2430);
      -webkit-background-clip: text;
      -webkit-text-fill-color: transparent; }

section.add-21 {
  background-color: #BCBAB7 !important; }
  section.add-21 h1 {
    font-family: 'Calligraffitti', cursive;
    font-size: 3.5rem;
    font-weight: 800;
    color: #fff; }
  section.add-21 h2 {
    font-family: 'Exo', sans-serif;
    color: #000;
    font-size: 3rem;
    font-weight: 800;
    text-transform: uppercase; }
  section.add-21 .clock {
    font-family: 'Exo', sans-serif;
    font-size: 3rem;
    font-weight: 800;
    text-transform: uppercase; }
  section.add-21 span {
    color: #000;
    font-weight: 800;
    position: absolute;
    font-size: 20rem;
    line-height: 1px;
    bottom: 127px;
    left: 256px;
    -ms-transform: rotate(-27deg);
    -webkit-transform: rotate(-27deg);
    transform: rotate(-19deg); }
  section.add-21 .device-container,
  section.add-21 .feature-item {
    max-width: 325px;
    margin: 0 auto; }
  section.add-21 .device-container {
    margin-bottom: 0px; }
  @media (min-width: 768px) {
    section.add-21 h1 {
      position: relative;
      right: 250px;
      top: 30px;
      font-family: 'Calligraffitti', cursive;
      font-size: 10rem;
      font-weight: 800; }
    section.add-21 h2 {
      color: #000;
      font-family: 'Exo', sans-serif;
      font-size: 5rem;
      line-height: 4.5rem;
      font-weight: 800;
      text-transform: uppercase; }
    section.add-21 span {
      color: #000;
      font-weight: 800;
      position: absolute;
      font-size: 54rem;
      line-height: 1px;
      bottom: 198px;
      left: 343px;
      -ms-transform: rotate(-27deg);
      /* IE 9 */
      -webkit-transform: rotate(-27deg);
      /* Safari 3-8 */
      transform: rotate(-27deg); } }
  section.add-21 .feature-item {
    padding-top: 0px;
    padding-bottom: 0px;
    text-align: center; }
    section.add-21 .feature-item h3 {
      font-size: 20px; }
    section.add-21 .feature-item i {
      font-size: 60px;
      display: block;
      margin-bottom: 15px;
      background: -webkit-linear-gradient(to left, #7b4397, #dc2430);
      background: -webkit-gradient(linear, right top, left top, from(#7b4397), to(#dc2430));
      background: -webkit-linear-gradient(right, #7b4397, #dc2430);
      background: -o-linear-gradient(right, #7b4397, #dc2430);
      background: linear-gradient(to left, #7b4397, #dc2430);
      -webkit-background-clip: text;
      -webkit-text-fill-color: transparent; }

section.add-22 {
  background-color: #BCBAB7 !important; }
  section.add-22 h1 {
    font-family: 'Calligraffitti', cursive;
    font-size: 3.5rem;
    font-weight: 800;
    color: #fff; }
  section.add-22 h2 {
    font-family: 'Exo', sans-serif;
    color: #000;
    font-size: 3rem;
    font-weight: 800;
    text-transform: uppercase; }
  section.add-22 span {
    color: #000;
    font-weight: 800;
    position: absolute;
    font-size: 20rem;
    line-height: 1px;
    bottom: 127px;
    left: 256px;
    -ms-transform: rotate(-27deg);
    -webkit-transform: rotate(-27deg);
    transform: rotate(-19deg); }
  section.add-22 .feature-item {
    max-width: 325px;
    margin: 0 auto; }
  section.add-22 .device-container {
    margin-bottom: 0px; }
  @media (min-width: 768px) {
    section.add-22 h1 {
      position: relative;
      right: 250px;
      top: 30px;
      font-family: 'Calligraffitti', cursive;
      font-size: 10rem;
      font-weight: 800; }
    section.add-22 h2 {
      color: #000;
      font-family: 'Exo', sans-serif;
      font-size: 5rem;
      line-height: 4.5rem;
      font-weight: 800;
      text-transform: uppercase; }
    section.add-22 span {
      color: #000;
      font-weight: 800;
      position: absolute;
      font-size: 54rem;
      line-height: 1px;
      bottom: 198px;
      left: 343px;
      -ms-transform: rotate(-27deg);
      /* IE 9 */
      -webkit-transform: rotate(-27deg);
      /* Safari 3-8 */
      transform: rotate(-27deg); } }
  section.add-22 .feature-item {
    padding-top: 0px;
    padding-bottom: 0px;
    text-align: center; }
    section.add-22 .feature-item h3 {
      font-size: 20px; }
    section.add-22 .feature-item i {
      font-size: 60px;
      display: block;
      margin-bottom: 15px;
      background: -webkit-linear-gradient(to left, #7b4397, #dc2430);
      background: -webkit-gradient(linear, right top, left top, from(#7b4397), to(#dc2430));
      background: -webkit-linear-gradient(right, #7b4397, #dc2430);
      background: -o-linear-gradient(right, #7b4397, #dc2430);
      background: linear-gradient(to left, #7b4397, #dc2430);
      -webkit-background-clip: text;
      -webkit-text-fill-color: transparent; }

section.cta {
  position: relative;
  padding: 0;
  background-image: url("../img/bg-cta.jpg");
  background-position: center;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover; }
  section.cta .cta-content {
    position: relative;
    z-index: 1; }
    section.cta .cta-content h2 {
      font-size: 50px;
      max-width: 450px;
      margin-top: 0;
      margin-bottom: 25px;
      color: white; }
    @media (min-width: 768px) {
      section.cta .cta-content h2 {
        font-size: 80px; } }
  section.cta .overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5); }

footer {
  padding: 25px 0;
  text-align: center;
  color: rgba(255, 255, 255, 0.3);
  background-color: #222222; }
  footer p {
    font-size: 12px;
    margin: 0; }
  footer ul {
    margin-bottom: 0; }
    footer ul li a {
      font-size: 12px;
      color: rgba(255, 255, 255, 0.3); }
      footer ul li a:hover, footer ul li a:focus, footer ul li a:active, footer ul li a.active {
        text-decoration: none; }

.bg-primary {
  background: #fdcc52;
  background: -webkit-linear-gradient(#fdcc52, #fdc539);
  background: -webkit-gradient(linear, left top, left bottom, from(#fdcc52), to(#fdc539));
  background: -o-linear-gradient(#fdcc52, #fdc539);
  background: linear-gradient(#fdcc52, #fdc539); }

.text-primary {
  color: #fdcc52; }

.no-gutter > [class*='col-'] {
  padding-right: 0;
  padding-left: 0; }

.btn-outline {
  color: white;
  border: 1px solid;
  border-color: white; }
  .btn-outline:hover, .btn-outline:focus, .btn-outline:active, .btn-outline.active {
    color: white;
    border-color: #fdcc52;
    background-color: #fdcc52; }

.btn {
  border-radius: 300px;
  font-family: 'Lato', 'Helvetica', 'Arial', 'sans-serif';
  letter-spacing: 2px;
  text-transform: uppercase; }

.btn-xl {
  font-size: 11px;
  padding: 15px 45px; }
