// Global styling for this template
html,
body {
    width: 100%;
    height: 100%;
}

body {
    @include body-font;
}

a {
    color: $theme-primary;
    @include transition-all;
    &:hover,
    &:focus {
        color: darken($theme-primary, 10%);
    }
}

hr {
    max-width: 100px;
    margin: 25px auto 0;
    border-width: 1px;
    border-color: fade-out($gray-darker, .9);
}

hr.light {
    border-color: white;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    @include heading-font;
}

p {
    font-size: 18px;
    line-height: 1.5;
    margin-bottom: 20px;
}

section {
    padding:0;
}

.form-add{
    border-radius: 50px;
    background-color: transparent;
    padding: 10px;
    border: 2px solid #fff;
    box-shadow: 0px 0px 10px #007bff;
    text-align: center;
}
.btn-form{
    display:block;
    margin:0 auto;
    padding: 3%;
}
.btn-aceptar{
    display:block;
    margin:0 auto;
    padding-top: 30px;
    padding-bottom: 30px;
    padding-left: 16px;
    padding-right: 16px;
    span{
        font-size:2rem;
    }
}
