// Styling for the masthead
header.masthead {
    position: relative;
    background-attachment: cover;
    background: url(../img/header-diapo-1.png) no-repeat top,-moz-radial-gradient(center, ellipse cover, #233f70 3%, #120f0f 100%);
    background: url(../img/header-diapo-1.png) no-repeat top,-webkit-radial-gradient(center, ellipse cover, #233f70 3%,#120f0f 100%);
    background: url(../img/header-diapo-1.png) no-repeat top,radial-gradient(ellipse at center, #233f70 3%,#120f0f 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#233f70', endColorstr='#120f0f',GradientType=1);
    background-size: inherit;   
    width: 100%;
    color: yellow;
    .header-content {
      /*  max-width: 500px;*/
        margin-bottom: 100px;
        text-align: center;
        h1 {
           font-family: 'Exo', sans-serif;
            font-size: 3.5rem;
            font-weight: 800;
            text-transform: uppercase;
        }
    }
    .device-container {
        max-width: 325px;
        margin-right: auto;
        margin-left: auto;
        .screen img {
            border-radius: 3px;
        }
    }
    @media (min-width: 992px) {
        // height: 100vh;
        // min-height: 500px;
        padding-top: 0;
        padding-bottom: 0;
        background-size: contain;
        .header-content {
            margin-bottom: 0;
            text-align: left;
            h1 {
        
                font-size: 5rem;
           
            }
        }
        .device-container {
            max-width: 325px;
        }
    }
}