// Styling for the features
section.add-11 {
    background-color:#9EE4E8 !important;
    h1 {display:block;
        text-align: center;
        margin: 0 auto;
        font-family: 'Exo', sans-serif;
        font-size: 1.5rem;
        line-height: 1.5rem;
        font-weight: 800;
        color:#000;
    }
    h2 {
        display:block;
        text-align: center;
        font-family: 'Exo', sans-serif;
        color: #fff;
        font-size: 1.5rem;
        line-height: 1.5rem;
        font-weight: 800;
    }
     h3 {
        display:block;
        text-align: center;
        font-family: 'Exo', sans-serif;
        color: #052A56;
        font-size: 1.5rem;
        line-height: 1.5rem;
        font-weight: 800;
        text-transform: uppercase;
    }
     h4 {
        display:block;
        text-align: center;
        font-family: 'Exo', sans-serif;
        color: #fff;
        font-size: 1.5rem;
        line-height: 1.5rem;
        font-weight: 300;
        text-transform: uppercase;
        font-style: italic;
    }
    .feature-item {
        max-width: 325px;
        margin: 0 auto;
    }
    .device-container {
        margin-bottom: 0px;
        @media(min-width: 992px) {
           
        }

    }
    @media(min-width: 768px) {
    h1 {display:block;
        text-align: center;
        margin: 0 auto;
        font-family: 'Exo', sans-serif;
        font-size: 3.5rem;
        line-height: 3.5rem;
        font-weight: 800;
        color:#000;
    }
    h2 {
        display:block;
        text-align: center;
        font-family: 'Exo', sans-serif;
        color: #fff;
        font-size: 2.5rem;
        line-height: 3.5rem;
        font-weight: 800;
    }
     h3 {
        display:block;
        text-align: center;
        font-family: 'Exo', sans-serif;
        color: #052A56;
        font-size: 3.5rem;
        line-height: 3.5rem;
        font-weight: 800;
        text-transform: uppercase;
    }
     h4 {
        display:block;
        text-align: center;
        font-family: 'Exo', sans-serif;
        color: #fff;
        font-size: 2.5rem;
        line-height: 2.5rem;
        font-weight: 300;
        text-transform: uppercase;
        font-style: italic;
    }
    
}
    
}
