/*// Styling for the download section*/
section.add-2 {
    color:#fff;
    background-attachment: cover;
    background: -moz-radial-gradient(center, ellipse cover, #233f70 3%, #120f0f 100%);
    background: -webkit-radial-gradient(center, ellipse cover, #233f70 3%,#120f0f 100%);
    background: radial-gradient(ellipse at center, #233f70 3%,#120f0f 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#233f70', endColorstr='#120f0f',GradientType=1);
    background-size: inherit;   
    position: relative;
    padding:0;
    
    h2 {
        color:yellow;
        font-family: 'Exo', sans-serif;
        font-size: 2.5rem;
        font-weight: 800;
        text-transform: uppercase;
        line-height: 2.5rem;
    }
    h3 {
        font-family: 'Calligraffitti', cursive;
        font-size: 3.5rem;
        font-weight: 800;
        line-height: 3rem;
    }

    @media(min-width: 768px) {
        h3 {
        font-family: 'Calligraffitti', cursive;
        font-size: 8rem;
        line-height: 8rem;
    }
    h2 {
        color:yellow;
        font-family: 'Exo', sans-serif;
        font-size: 4.5rem;
        font-weight: 800;
        line-height: 4rem;
        text-transform: uppercase;
    }
    }
}
