// Styling for the features
section.add-9 {
    background-attachment: cover;
    background:-moz-radial-gradient(center, ellipse cover, #233f70 3%, #120f0f 100%);
    background: -webkit-radial-gradient(center, ellipse cover, #233f70 3%,#120f0f 100%);
    background: radial-gradient(ellipse at center, #233f70 3%,#120f0f 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#233f70', endColorstr='#120f0f',GradientType=1);
    background-size: inherit;   
    width: 100%;

    h1 {
        font-family: 'Calligraffitti', cursive;
        font-size: 3.5rem;
        font-weight: 800;
    }
    h2 {
        color:white;
        font-family: 'Exo', sans-serif;
        font-size: 3rem;
        font-weight: 800;
        text-transform: uppercase;
    
    span{
    color: aqua;
    font-weight: 800;
    font-size: 2rem;
    line-height: 1px;
    }
    }
 
    .feature-item {
        max-width: 325px;
        margin: 0 auto;
    }
    .device-container {
        margin-bottom: 0px;
        @media(min-width: 992px) {
           
        }

    }
    @media(min-width: 768px) {
    h1 {
        position: relative;
        right: 250px;
        top: 30px;
        font-family: 'Calligraffitti', cursive;
        font-size: 10rem;
        font-weight: 800;
        
    }
    h2 {
        font-family: 'Exo', sans-serif;
        font-size: 5rem;
        line-height: 4.5rem;
        font-weight: 800;
        text-transform: uppercase;
    
        span{
        color: aqua;
        font-weight: 800;
        font-size: 2rem;
        line-height: 1rem;
    }
    }
}
    .feature-item {
        padding-top: 0px;
        padding-bottom: 0px;
        text-align: center;
        
        i {
            font-size: 60px;
            display: block;
            margin-bottom: 15px;
            background: -webkit-linear-gradient(to left, $theme-secondary, $theme-tertiary);
            background: linear-gradient(to left, $theme-secondary, $theme-tertiary);
            -webkit-background-clip: text;
            -webkit-text-fill-color: transparent;
        }
    }
}
