// Styling for the features
section.add-20 {
    background-color:#fff !important;
    h2 {
        font-family: 'Exo', sans-serif;
        color: #B40803;
        font-size: 3rem;
        font-weight: 800;
        text-transform: uppercase;
    }
     .clock{
        font-family: 'Exo', sans-serif;
        color: red;
        font-size: 1rem;
        font-weight: 800;
        text-transform: uppercase;
    }


    @media(min-width: 768px) {
    h1 {
        position: relative;
        right: 250px;
        top: 30px;
        font-family: 'Calligraffitti', cursive;
        font-size: 10rem;
        font-weight: 800;
        
    }
    h2 {
        color:red;
        font-family: 'Exo', sans-serif;
        font-size: 3rem;
        line-height: 4.5rem;
        font-weight: 800;
        text-transform: uppercase;
    }
    
}
   
}