// Styling for the features
section.add-8 {
    background-color:#9EE4E8 !important;
    
    h2 {
        font-family: 'Exo', sans-serif;
        color: #233f70;
        font-size: 1.5rem;
        font-weight: 800;
        
    }
    h3 {
        font-size: 1.5rem;
        font-weight: 800;
        color: #233f70;
        text-transform: uppercase;
    }
    span{
    color:white;
    }
    .section-heading {
    }
    .device-container,
    .feature-item {
        max-width: 325px;
        margin: 0 auto;
    }
    .device-container {
        margin-bottom: 0px;
        @media(min-width: 992px) {
           
        }

    }
    @media(min-width: 768px) {
    
    h2 {
        font-family: 'Exo', sans-serif;
        font-size: 2.3rem;
        line-height: 2.4rem;
        font-weight: 800;
    }
    h3{
        font-size: 2.3rem;
        font-weight: 800;
        line-height: 2.4rem;
        text-transform: uppercase;
    }
    span{
    
    }
}
    .feature-item {
        padding-top: 0px;
        padding-bottom: 0px;
        text-align: center;
        h3 {
            font-size: 20px;
        }
        i {
            font-size: 60px;
            display: block;
            margin-bottom: 15px;
            background: -webkit-linear-gradient(to left, $theme-secondary, $theme-tertiary);
            background: linear-gradient(to left, $theme-secondary, $theme-tertiary);
            -webkit-background-clip: text;
            -webkit-text-fill-color: transparent;
        }
    }
}
