// Styling for the features
section.add-9 {
    background-attachment: cover;
    background:-moz-radial-gradient(center, ellipse cover, #233f70 3%, #120f0f 100%);
    background: -webkit-radial-gradient(center, ellipse cover, #233f70 3%,#120f0f 100%);
    background: radial-gradient(ellipse at center, #233f70 3%,#120f0f 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#233f70', endColorstr='#120f0f',GradientType=1);
    background-size: inherit;   
    width: 100%;


    h2 {
        color:white;
        font-family: 'Handlee', cursive;
        font-size: 3rem;
        line-height: 3rem;
        font-weight: 800;
        text-align:center;
    }
    span{
    font-family: 'Exo', sans-serif;
    color: yellow;
    font-weight: 800;
    font-size: 2rem;
    line-height: 2rem;
    }

 
    
   
    @media(min-width: 768px) {
   
    h2 {
        font-family: 'Handlee', cursive;
        font-size: 7rem;
        line-height: 6rem;
        font-weight: 800;
    
        span{
        font-family: 'Exo', sans-serif;
        color: yellow;
        font-weight: 800;
        font-size: 3rem;
        line-height: 5rem;
    }
    }
}
}
