// Styling for the features
section.add-19 {
    background-color:#BCBAB7 !important;
    h2 {
        font-family: 'Exo', sans-serif;
        color: #052A56;
        font-size: 2rem;
        font-weight: 800;
        text-transform: uppercase;
    }

    @media(min-width: 768px) {

    h2 {
        font-family: 'Exo', sans-serif;
        font-size: 3rem;
        line-height: 4.5rem;
        font-weight: 800;
        text-transform: uppercase;
    }
}
   
}
