// Styling for the features
section.add-3 {
    background-color:yellow!important;
    h2 {
        font-family: 'Exo', sans-serif;
        color: #000;
        font-size: 3rem;
        line-height: 3rem;
        font-weight: 800;
        text-transform: uppercase;
        text-align: center;
    }
    h3{
        font-family: 'Lora', serif;
    font-style: italic;
    font-size: 24rem;
    line-height: 18rem;
    font-weight: 300;
    color: #000;
    position: absolute;
    bottom: -109px;
    right: -223%;
    -ms-transform: rotate(-14deg);
    -webkit-transform: rotate(-14deg);
    transform: rotate(-14deg);
    }



    @media (min-width: 576px) {
    h2  {
         font-family: 'Exo', sans-serif;
        color: #000;
        font-size: 4.5rem;
        line-height: 4rem;
        font-weight: 800;
        text-transform: uppercase;
        text-align: left;
    }
    h3 {
        font-family: 'Lora', serif;
        font-style: italic;
        font-weight: 300;
        font-size: 53rem;
        line-height: 0rem;
        font-weight: 300;
        color: #000;
        position: absolute;
        bottom: 0;
        right: 0;
        -ms-transform: rotate(-19deg);
        -webkit-transform: rotate(-19deg);
        transform: rotate(-19deg);
    }
    }

// Medium devices (tablets, 768px and up)
@media (min-width: 768px) {
    h2 {
        font-size: 7rem;;
        font-weight: 800;
        line-height: 7rem;;
        text-transform: uppercase;
        color: #000;

    }
    h3{

    font-family: 'Lora', serif;
    font-style: italic;
    font-size: 75rem;
    font-weight: 300;
    line-height: 1px;
    color: #000;
    position: absolute;
    bottom: 0%;
    right: 0%;
    -ms-transform: rotate(-19deg);
    -webkit-transform: rotate(-19deg);
    transform: rotate(-19deg);
    }
    }

// Large devices (desktops, 992px and up)
@media (min-width: 992px) {
    }

// // Extra large devices (large desktops, 1200px and up)
// @media (min-width: 1200px) {
//     h2 {
//         font-size: 5rem;
//         font-weight: 800;
//         line-height: 4.5rem;
//         text-transform: uppercase;

//     }
//     h3{
//     font-family: 'Lora', serif;
//     font-style: italic;
//     font-size: 59rem;
//     font-weight: 300;
//     line-height: 1px;
//     color: #000;
//     position: absolute;
//     bottom: 334px;
//     left: 156%;
//     -ms-transform: rotate(-19deg);
//     -webkit-transform: rotate(-19deg);
//     transform: rotate(-19deg);
//     }
//  }
//  // Extra large devices (large desktops, 1200px and up)
// @media (min-width: 1500px) and (max-width: 1879.98px) {
//     h2{
//     color: #000;
//     font-family: 'Exo', sans-serif;
//     font-size: 6rem;
//     font-weight: 800;
//     line-height: 6rem;
//     text-transform: uppercase;

//     }

//     h3{
//     font-family: 'Lora', serif;
//     font-style: italic;
//     font-size: 59rem;
//     font-weight: 300;
//     line-height: 1px;
//     color: #000;
//     position: absolute;
//      bottom: 334px;
//     left: 156%;
//     -ms-transform: rotate(-19deg);
//     -webkit-transform: rotate(-19deg);
//     transform: rotate(-19deg);
//     }

//     }
//     @media (min-width: 1880px) {
//     h2{
//     color: #000;
//     font-family: 'Exo', sans-serif;
//     font-size: 8rem;
//     font-weight: 800;
//     line-height: 8rem;
//     text-transform: uppercase;

//     }
//      h3{
//     font-family: 'Lora', serif;
//     font-style: italic;
//     font-size: 87rem;
//     font-weight: 300;
//     line-height: 1px;
//     color: #000;
//     position: absolute;
//     bottom: 397px;
//     left: 154%;
//     -ms-transform: rotate(-19deg);
//     -webkit-transform: rotate(-19deg);
//     transform: rotate(-19deg);
//     }
    
//     }







}
