// Styling for the features
section.add-9 {
    background-color:#BCBAB7 !important;
    h1 {
        font-family: 'Calligraffitti', cursive;
        font-size: 3.5rem;
        font-weight: 800;
        color:#fff;
    }
    h2 {
        font-family: 'Exo', sans-serif;
        color: #000;
        font-size: 3rem;
        font-weight: 800;
        text-transform: uppercase;
    }
    span{
    color: #000;
    font-weight: 800;
    position: absolute;
    font-size: 20rem;
    line-height: 1px;
    bottom: 127px;
    left: 256px;
    -ms-transform: rotate(-27deg);
    -webkit-transform: rotate(-27deg);
    transform: rotate(-19deg);
    }
    .section-heading {
    }
    .device-container,
    .feature-item {
        max-width: 325px;
        margin: 0 auto;
    }
    .device-container {
        margin-bottom: 0px;
        @media(min-width: 992px) {
           
        }

    }
    @media(min-width: 768px) {
    h1 {
        position: relative;
        right: 250px;
        top: 30px;
        font-family: 'Calligraffitti', cursive;
        font-size: 10rem;
        font-weight: 800;
        
    }
    h2 {
        color:#000;
        font-family: 'Exo', sans-serif;
        font-size: 5rem;
        line-height: 4.5rem;
        font-weight: 800;
        text-transform: uppercase;
    }
    span{
    color: #000;
    font-weight: 800;
    position: absolute;
    font-size: 54rem;
    line-height: 1px;
    bottom: 198px;
    left: 343px;
    -ms-transform: rotate(-27deg); /* IE 9 */
    -webkit-transform: rotate(-27deg); /* Safari 3-8 */
    transform: rotate(-27deg);
    }
}
    .feature-item {
        padding-top: 0px;
        padding-bottom: 0px;
        text-align: center;
        h3 {
            font-size: 20px;
        }
        i {
            font-size: 60px;
            display: block;
            margin-bottom: 15px;
            background: -webkit-linear-gradient(to left, $theme-secondary, $theme-tertiary);
            background: linear-gradient(to left, $theme-secondary, $theme-tertiary);
            -webkit-background-clip: text;
            -webkit-text-fill-color: transparent;
        }
    }
}
