// Styling for the features
section.add-20 {
    background-color:#fff !important;
    h2 {
        font-family: 'Exo', sans-serif;
        color: #B40803;
        font-size: 3rem;
        font-weight: 800;
        text-transform: uppercase;
    }
    .feature-item {
        max-width: 325px;
        margin: 0 auto;
    }
    .device-container {
        margin-bottom: 0px;
        @media(min-width: 992px) {
           
        }

    }
    @media(min-width: 768px) {
    h1 {
        position: relative;
        right: 250px;
        top: 30px;
        font-family: 'Calligraffitti', cursive;
        font-size: 10rem;
        font-weight: 800;
        
    }
    h2 {
        color:red;
        font-family: 'Exo', sans-serif;
        font-size: 3rem;
        line-height: 4.5rem;
        font-weight: 800;
        text-transform: uppercase;
    }
    
}
    .feature-item {
        padding-top: 0px;
        padding-bottom: 0px;
        text-align: center;
        h3 {
            font-size: 20px;
        }
        i {
            font-size: 60px;
            display: block;
            margin-bottom: 15px;
            background: -webkit-linear-gradient(to left, $theme-secondary, $theme-tertiary);
            background: linear-gradient(to left, $theme-secondary, $theme-tertiary);
            -webkit-background-clip: text;
            -webkit-text-fill-color: transparent;
        }
    }
}
