// Styling for the features
section.add-3 {
    background-color: yellow;
    .background-interrogacion{
        top: 0px;
        position: absolute;
        background-attachment: cover;
        background: url(../svg/interrogacion.svg), yellow;
        background: url(../svg/interrogacion.svg), yellow;
        background: url(../svg/interrogacion.svg), yellow;
        background-repeat: no-repeat;
        background-position: right;
        background-size: inherit;   
        width: 100%;
        height: 100%;
        visibility: collapse;
        display: none;
    }
    h2 {
        font-family: 'Exo', sans-serif;
        color: #052a56;
        font-size: 3rem;
        line-height: 3rem;
        font-weight: 800;
        padding-right: 40px;
        text-transform: uppercase;
        text-align: center;
        }
    h3 {
        font-family: 'lora', sans-serif;
        font-weight: 400;
        color: #000;
        position: relative;
        font-size: 20rem;
        line-height: 1px;
        bottom: 0px;
        left: -61px;
        -ms-transform: rotate(-19deg);
        -webkit-transform: rotate(-19deg);
        transform: rotate(-19deg);
        }

    @media (min-width: 576px) {
        .background-interrogacion{
            visibility: visible;
            display: initial;
        }
        h2  {
            font-family: 'Exo', sans-serif;
            color: #052a56;
            font-size: 4rem;
            line-height: 4rem;
            padding-right: 40px;
            font-weight: 800;
            text-transform: uppercase;
            text-align: left;
            }
   
    }

    // Medium devices (tablets, 768px and up)
    @media (min-width: 768px) {
        h2 {
        font-size: 4rem;
        padding-right: 10px;
        font-weight: 800;
        line-height: 3.5rem;
        text-align: right;
        text-transform: uppercase;
        color: #052a56;
        text-shadow: 2px 2px 2px #fff;

        }

        h3{
        visibility: collapse;
        }

        .background-interrogacion{
            top: 0px;
            position: absolute;
            background-attachment: cover;
            background: url(../svg/interrogacion.svg), yellow;
            background: url(../svg/interrogacion.svg), yellow;
            background: url(../svg/interrogacion.svg), yellow;
            background-repeat: no-repeat;
            background-position: right;
            background-size: inherit;   
            width: 100%;
            height: 100%;
            visibility: visible;
            display: initial;
        }
       
    }

// Large devices (desktops, 992px and up)
@media (min-width: 992px) {
    }

 // Extra large devices (large desktops, 1200px and up)
 @media (min-width: 1200px) {
     h2 {
         font-size: 5rem;
         font-weight: 800;
         line-height: 4.5rem;
         padding-right: 40px;
         text-transform: uppercase;

   }
    
  }
  // Extra large devices (large desktops, 1200px and up)
 @media (min-width: 1500px) and (max-width: 1879.98px) {
     h2{
     font-family: 'Exo', sans-serif;
     font-size: 6rem;
     font-weight: 800;
     line-height: 6rem;
     padding-right: 40px;
     text-transform: uppercase;

     }

     }
     @media (min-width: 1880px) {
     h2{
     font-family: 'Exo', sans-serif;
     font-size: 8rem;
     font-weight: 800;
     padding-right: 40px;
     line-height: 8rem;
     text-transform: uppercase;

     }
      
    
    }







}
