// Styling for the features
section.add-8 {
    background-color:#9EE4E8 !important;
    
    h2 {
        font-family: 'Exo', sans-serif;
        color: #000;
        font-size: 1.5rem;
        line-height: 1.5rem;
        font-weight: 800;
        
    }
    h3 {
        font-size: 1.5rem;
        line-height: 1.5rem;
        font-weight: 800;
        color: #000;
        text-transform: uppercase;
    }
    span{
    font-family: 'Handlee', cursive;
    color:white;
    
    }
    @media(min-width: 768px) {
    
    h2 {
        font-family: 'Exo', sans-serif;
        font-size: 3rem;
        line-height: 3rem;
        font-weight: 800;
    }
    h3{
        font-size: 3rem;
        font-weight: 800;
        line-height: 3rem;
        text-transform: uppercase;
    }
   
}
   

}
