/*// Styling for the download section*/
section.add-2 {
    color:#fff;
    background-attachment: cover;
    background: -moz-radial-gradient(center, ellipse cover, #233f70 3%, #120f0f 100%);
    background: -webkit-radial-gradient(center, ellipse cover, #233f70 3%,#120f0f 100%);
    background: radial-gradient(ellipse at center, #233f70 3%,#120f0f 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#233f70', endColorstr='#120f0f',GradientType=1);
    background-size: inherit;   
    position: relative;
    padding:0;


// Small devices (landscape phones, 576px and up)
@media (min-width: 576px) {
    h2 {
        color:yellow;
        font-family: 'Exo', sans-serif;
        font-size: 2.5rem;
        font-weight: 800;
        text-transform: uppercase;
        line-height: 2.5rem;
    }
    h3 {
        color:yellow;
        font-family: 'Exo', sans-serif;
        font-size: 2.5rem;
        font-weight: 800;
        text-transform: uppercase;
        line-height: 2.5rem;
    }
    h4 {
        font-family: 'Handlee', cursive;
        line-height: 3rem;
        font-weight: 400;
        font-weight: 400;
    } }

// Medium devices (tablets, 768px and up)
@media (min-width: 768px) {
    h2 {
        font-size: 4rem;;
        font-weight: 800;
        line-height: 4rem;;
        text-transform: uppercase;

    }
    h3{
       
        font-size: 4rem;
        font-weight: 800;
        line-height: 4rem;
        text-transform: uppercase;
    }
    h4 {
       
        font-size: 5.5rem;
        line-height: 6rem;
        font-weight: 400;
    }
    }

// Large devices (desktops, 992px and up)
@media (min-width: 992px) {
    }

// Extra large devices (large desktops, 1200px and up)
@media (min-width: 1200px) {
    h2 {
        font-size: 6rem;
        font-weight: 800;
        line-height: 5rem;
        text-transform: uppercase;

    }
    h3{
       
        font-size: 6rem;
        font-weight: 800;
        line-height: 6rem;
        text-transform: uppercase;
    }
    h4 {
       
        font-size: 8rem;
        line-height: 8rem;
        font-weight: 400;
    }
 }
 // Extra large devices (large desktops, 1200px and up)
@media (min-width: 1500px) and (max-width: 1879.98px) {
    h2{
    color: yellow;
    font-family: 'Exo', sans-serif;
    font-size: 7rem;
    font-weight: 800;
    line-height: 7rem;
    text-transform: uppercase;

    }
     h3{
        font-size: 7rem;
        line-height: 7rem;
        text-transform: uppercase;
    }
    h4 {
        font-family: 'Handlee', cursive;
        font-size: 9rem;
        line-height: 9rem;
        font-weight: 400;
    }
    }
    @media (min-width: 1880px) {
    h2{
    color: yellow;
    font-family: 'Exo', sans-serif;
    font-size: 9rem;
    font-weight: 800;
    line-height: 9rem;
    text-transform: uppercase;

    }
     h3{
        font-size: 9rem;
        line-height: 9rem;
        text-transform: uppercase;
    }
    h4 {
        font-family: 'Handlee', cursive;
        font-size: 11rem;
        line-height: 11rem;
        font-weight: 400;
    }
    }
}