// Styling for the features
section.add-7 {
    background-color:#ff7f00 !important;
    h2 {
        font-family: 'Handlee', cursive;
        font-size: 3.5rem;
        font-weight: 800;
        color:#fff;
    }
    h3 {
        font-family: 'Exo', sans-serif;
        color: #000;
        font-size: 3rem;
        font-weight: 800;
        text-transform: uppercase;
    }

   .list-social {
        text-aling:center;
        margin-bottom: 0;
        li {
            a {text-align: center;
                font-size: 40px;
                line-height: 80px;
                display: block;
                width: 80px;
                height: 80px;
                color: white;
                border-radius: 100%;
                border:2px solid #fff;
            }
            &.social-twitter {
                a {
                   
                    &:hover {
                        background-color: white;
                        color: darken($brand-twitter, 5%);
                    }
                }
            }
            &.social-facebook {
                a {
                    
                    &:hover {
                        background-color: white;
                        color: darken($brand-facebook, 5%);
                    }
                }
            }
            &.social-linkedin {
                a {
                    
                    &:hover {
                        background-color: white;
                        color: darken($brand-linkedin, 5%);
                    }
                }
            }
        }
    }

    span{
    font-family: 'lora', sans-serif;    
    color: #000;
    font-weight: 400;
    position: absolute;
    font-size: 20rem;
    line-height: 1px;
    bottom: 127px;
    left: 256px;
    -ms-transform: rotate(-27deg);
    -webkit-transform: rotate(-27deg);
    transform: rotate(-19deg);
    }
    


    @media(min-width: 768px) {
    h2 {
        position: relative;
        right: -10px;
        top: 30px;
        font-family: 'Handlee', cursive;
        font-size: 10rem;
        font-weight: 800;
        
    }
    h3 {
        color:#000;
        font-family: 'Exo', sans-serif;
        font-size: 5rem;
        line-height: 4.5rem;
        font-weight: 800;
        text-transform: uppercase;
    }
    h4{
        color:white;
    }



    span{
    font-family: 'lora', sans-serif;
    color: #000;
    font-weight: 400;
    position: absolute;
    font-size: 44rem;
    line-height: 1px;
    bottom: 20%;
    left: -310%;
    -ms-transform: rotate(15deg);
    -webkit-transform: rotate(15deg);
    transform: rotate(15deg);
    }
}
}
