// Styling for the features
section.add-13 {
    h1 {
        display:block;
        text-align: center;
        margin: 0 auto;
        font-family: 'Handlee', cursive;
        font-size: 1.5rem;
        line-height: 1.5rem;
        font-weight: 800;
        color:#000;
    }
    h2 {
        display:block;
        text-align: center;
        font-family: 'Exo', sans-serif;
        color: #e40000;
        font-size: 1.5rem;
        line-height: 1.5rem;
        font-weight: 800;
    }
     h3 {
        display:block;
        text-align: center;
        font-family: 'Handlee', cursive;
        color: #000;
        font-size: 2rem;
        line-height: 1.5rem;
        font-weight: 800;
    }
     h4 {
        display:block;
        text-align: center;
        font-family: 'Exo', sans-serif;
        color: #e40000;
        font-size: 1.5rem;
        line-height: 1.5rem;
        font-weight: 800;
    }
    span{
        font-family: 'Exo', sans-serif;
        color: #e40000;
        font-size: 2rem;
        line-height: 2rem;
        font-weight: 800;
        text-transform: uppercase;

    }
    @media(min-width: 768px) {
   h1 {display: block;
        font-weight: 800;
        color:#000;
        text-align: right;
        font-family: 'Exo', sans-serif;
        font-size: 2.5rem;
        line-height: 2.5rem;
        font-style: italic;

    }
    h2 {
        display:block;
        color: #e40000;  
        text-align: right;
        font-family: 'Exo', sans-serif;
        font-size: 2.5rem;
        line-height: 2.5rem;
        font-weight: 800;
        text-transform: uppercase;
    }
     h3 {


        display:block;
        font-family: 'Handlee', cursive;
        color: #000;
        font-weight: 800;
        text-align: right;
        font-size: 2.5rem;
        line-height: 2.5rem;
        font-style: italic;
    }
     h4 {
        display:block;
        color: #e40000;
        font-weight: 800;
        text-align: right;
        font-family: 'Exo', sans-serif;
        font-size: 2rem;
        line-height: 2rem;
    }
    span{
        font-family: 'Exo', sans-serif;
        color: #e40000;
        font-size: 2.5rem;
        line-height: 2.5rem;
        font-weight: 800;
        text-transform: uppercase;

    }
}
// Extra large devices (large desktops, 1200px and up)
    @media (min-width: 1400px) {
         h1 {display: block;
        font-weight: 800;
        color:#000;
        text-align: right;
        font-family: 'Exo', sans-serif;
        font-size: 4.5rem;
        line-height: 4.5rem;
        font-style: italic;

    }
    h2 {
        display:block;
        color: #e40000;  
        text-align: right;
        font-family: 'Exo', sans-serif;
        font-size: 4rem;
        line-height: 4rem;
        font-weight: 800;
        text-transform: uppercase;
    }
     h3 {


        display:block;
        font-family: 'Handlee', cursive;
        color: #000;
        font-weight: 800;
        text-align: right;
        font-size: 4.5rem;
        line-height: 4.5rem;
        font-style: italic;
    }
     h4 {
        display:block;
        color: #e40000;
        font-weight: 800;
        text-align: right;
        font-family: 'Exo', sans-serif;
        font-size: 4rem;
        line-height: 4rem;
    }
    span{
        font-family: 'Exo', sans-serif;
        color: #e40000;
        font-size: 4rem;
        line-height: 4rem;
        font-weight: 800;
        text-transform: uppercase;

    }
    }
    
}
