// Styling for the features
section.add-3 {
    background-color:yellow!important;
    h2 {
        font-family: 'Exo', sans-serif;
        color: #000;
        font-size: 2.5rem;
        font-weight: 800;
        text-transform: uppercase;
    }
    h3{
    font-family: 'Lora', serif;
    font-style: italic;
    font-size: 23rem;
    font-weight: 300;
    line-height: 1px;
    color: #000;
    position: absolute;
    bottom: 31px;
    left: -54%;
    -ms-transform: rotate(-14deg);
    -webkit-transform: rotate(-14deg);
    transform: rotate(-14deg);
    }



    @media (min-width: 576px) {
    h2 {
        color:yellow;
        font-family: 'Exo', sans-serif;
        font-size: 2.5rem;
        font-weight: 800;
        text-transform: uppercase;
        line-height: 2.5rem;
    }
    h3 {
        font-family: 'Lora', serif;
    font-style: italic;
    font-size: 59rem;
    font-weight: 300;
    line-height: 1px;
    color: #000;
    position: absolute;
    bottom: 193px;
    left: 70%;
    -ms-transform: rotate(-19deg);
    -webkit-transform: rotate(-19deg);
    transform: rotate(-19deg);
    }
    }

// Medium devices (tablets, 768px and up)
@media (min-width: 768px) {
    h2 {
        font-size: 4rem;;
        font-weight: 800;
        line-height: 4rem;;
        text-transform: uppercase;

    }
    h3{
       
        font-family: 'Lora', serif;
    font-style: italic;
    font-size: 59rem;
    font-weight: 300;
    line-height: 1px;
    color: #000;
    position: absolute;
    bottom: 193px;
    left: 70%;
    -ms-transform: rotate(-19deg);
    -webkit-transform: rotate(-19deg);
    transform: rotate(-19deg);
    }
    }

// Large devices (desktops, 992px and up)
@media (min-width: 992px) {
    }

// Extra large devices (large desktops, 1200px and up)
@media (min-width: 1200px) {
    h2 {
        font-size: 6rem;
        font-weight: 800;
        line-height: 5rem;
        text-transform: uppercase;

    }
    h3{
       font-family: 'Lora', serif;
    font-style: italic;
    font-size: 59rem;
    font-weight: 300;
    line-height: 1px;
    color: #000;
    position: absolute;
    bottom: 193px;
    left: 70%;
    -ms-transform: rotate(-19deg);
    -webkit-transform: rotate(-19deg);
    transform: rotate(-19deg);
    }
 }
 // Extra large devices (large desktops, 1200px and up)
@media (min-width: 1500px) and (max-width: 1879.98px) {
    h2{
    color: yellow;
    font-family: 'Exo', sans-serif;
    font-size: 7rem;
    font-weight: 800;
    line-height: 7rem;
    text-transform: uppercase;

    }
     h3{font-family: 'Lora', serif;
    font-style: italic;
    font-size: 59rem;
    font-weight: 300;
    line-height: 1px;
    color: #000;
    position: absolute;
    bottom: 193px;
    left: 70%;
    -ms-transform: rotate(-19deg);
    -webkit-transform: rotate(-19deg);
    transform: rotate(-19deg);
    }
    }
    @media (min-width: 1880px) {
    h2{
    color: yellow;
    font-family: 'Exo', sans-serif;
    font-size: 9rem;
    font-weight: 800;
    line-height: 9rem;
    text-transform: uppercase;

    }
     h3{font-family: 'Lora', serif;
    font-style: italic;
    font-size: 59rem;
    font-weight: 300;
    line-height: 1px;
    color: #000;
    position: absolute;
    bottom: 193px;
    left: 70%;
    -ms-transform: rotate(-19deg);
    -webkit-transform: rotate(-19deg);
    transform: rotate(-19deg);
    }
    
    }









    @media(min-width: 768px) {
    h2 {
        color:#000;
        font-family: 'Exo', sans-serif;
        font-size: 5rem;
        font-weight: 800;
        text-transform: uppercase;
    }
    h3{
    font-family: 'Lora', serif;
    font-style: italic;
    font-size: 59rem;
    font-weight: 300;
    line-height: 1px;
    color: #000;
    position: absolute;
    bottom: 193px;
    left: 70%;
    -ms-transform: rotate(-19deg);
    -webkit-transform: rotate(-19deg);
    transform: rotate(-19deg);
    }
}
    .feature-item {
        padding-top: 0px;
        padding-bottom: 0px;
        text-align: center;
        h3 {
            font-size: 20px;
        }
        i {
            font-size: 60px;
            display: block;
            margin-bottom: 15px;
            background: -webkit-linear-gradient(to left, $theme-secondary, $theme-tertiary);
            background: linear-gradient(to left, $theme-secondary, $theme-tertiary);
            -webkit-background-clip: text;
            -webkit-text-fill-color: transparent;
        }
    }
}
